.Arriba1 {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
}




.Arriba2 {
    width: 95%;
    height: auto;
    background-color: azure;
}


.Arriba3 {
    width: 47.5%;
    height: auto;
    background-color: rgb(0, 115, 128);
    font-size: 20px;
    text-align: center;
}

.Arriba4 {
    width: 47.5%;
    height: auto;
    background-color: rgb(128, 0, 100);
    font-size: 20px;
    text-align: center;
}


.ListaA {
    border: black 1px solid;
}


ul,
p {
    text-align: justify;
    margin: 15px;
}


.fijo{
    height: auto;
    text-align: center;
    position: fixed;



    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;

}



.centro1{
    margin-top: 100px;
    width: auto;
    height: auto;
    background-color: red;
}